.restorePasswordContainer {
    width: 480px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
